a.chekpoint, input, a img, div, * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
  width: 100%;
  overflow: scroll-y;
}
body {
  font-family: "微软雅黑";
  background: #eaeef3;
  width: 100%;
  height: 100%;
  overflow: scroll-y;
  font-size: 14px;
}
img {
  border-width: 0px;
  border-style: none;
}
ul, li, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.float {
  display: -webkit-box;
  -webkit-box-orient: horizional;
}
.flex {
  -webkit-box-flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
nav {
  background: #000;
}
header {
  background: url(../images/menuebg.png);
  padding: 12px 24px 7px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
}
header p:first-child {
  font-size: 15px;
}
header p {
  color: #aebaca;
  font-size: 15px;
  text-shadow: 1px 1px 5px #000;
  opacity: 0.75;
  padding-top: 5px;
  text-align: center;
}
.homeImg {
  background: url(../images/home.png) no-repeat;
  width: 40px;
  height: 40px;
}
.backImg {
  background: url(../images/back.png) no-repeat;
}
/* first page */

.wrapcontent {
  width: 100%;
  height: 100%;
  /*height: -webkit-calc(100% - 102px);*/
  overflow: scroll-y;
}
.modulechoose {
  width: 100%;
  height: 100%;
  background: url(../images/choosebg.png) repeat;
}

.firstPage {
  position: relative;
  -webkit-transition: all 800ms ease;
  width: 100%;
  height: 100%;
}
.moveToLeft {
  margin-left: -100%;
}
.stayOnRight {
  margin-left: 100%;
}
.leftDiv {
  margin: 20px 20px 0 20px;
}
.rightDiv {
  margin: 20px 20px 0 0;
}
.listcontent {
  width: 100%;
  text-align: center;
  -webkit-transition: all ease 800ms;
}
.listcontent_init {
  padding-top: 120px;
  opacity: 0;
}
.listcontent h1, .listcontent h2 {
  color: #FFF;
  padding-top: 0;
  left: 0px;
  opacity: 1;
  font-size: 15px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
}
.listcontent h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  white-space: normal;
}
.box_1 {
  background-color: rgba(155, 196, 56, 0.5);
  height: 240px;
}
.box_2 {
  background-color: rgba(155, 196, 56, 0.8);
  height: 80px;
  width:0;
}
.first_box_1 {
  background: rgba(0, 228, 255, .3);
  height:80px;
  width: 0;
}
.first_box_2 {
  background: rgba(0, 255, 180, .3);
  height: 0px;
}
.first_box_3 {
  background: rgba(233, 103, 180, .3);
  height: 0px;
}
.first_box_4 {
  background: rgba(122, 90, 255, .3);
  height:80px;
  width: 0;
}
.do_center {
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.s_center{
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.hor_box{
	-webkit-transform: perspective(600px) rotateY(0deg);
	text-align: justify;
}
/* second page */

.set_bottom_mg {
  margin-bottom: 20px;
}
/* child page */

.limitAreaTab {
  background: #f3f4f8;
  padding: 15px 0px;
  /*border-bottom: 1px solid #bcc5d3;*/
}
.limitAreaTab li {
  font-size: 28px;
  color: #647080;
  text-align: center;
  line-height: 55px;
}
.limitAreaTab img {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}
.limitAreaTab li:nth-child(2n) img {
  margin-right: 0px;
}
.for_fixed_bottom {
  /*position: absolute;*/
  width: 100%;
  bottom: 0;
  left: 0;
}
.select_nav {
  background-color: #FFF;
  padding: 10px;
}
.select_nav .inputDrop:nth-child(2) {
  margin: 0 1%
}
.inputDrop {
  width: 33%
}
.inputDrop >div {
  border: 1px solid #bdc7de;
  font-size: 22px;
  font-family: "微软雅黑";
  color: #a3acb8;
  height: 51px;
  width: 100%;
  background: #fff url(../images/arrow-down.png) right no-repeat;
  box-sizing: border-box;
  padding-left: 11px;
  padding-right: 51px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 51px;
}
.contentArea {
  padding: 20px;
  background: url(../images/bg.png);
}
.contentBac {
  box-shadow: 0px 0px 0px #999;
  background-color: #fff;
  font-size: 20px;
  line-height: 36px;
  color: #5d6884;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.contentBac li {
  padding: 21px 15px 15px 10px;
  border-bottom: 1px solid #e5e9ef;
  border-top: 1px dashed #fff;
  overflow: hidden;
}
.contentBac .chk {
  display: inline-block;
  width: 43px;
  height: 36px;
  background: url(../images/ckx-uck.png) no-repeat 15px 9px;
  padding: 9px 15px 9px 15px;
}
.contentBac .chk.active {
  background-image: url(../images/ckx-ck.png);
}
.contentBac .for_two_pad_top {
  padding-top: 10px;
}
.fix_w_30 {
  width: 30%;
}
.fix_w_15 {
  width: 20%;
}
.checkout {
  color: red;
}
.checkout_ok {
  color: green;
}
/*  popup  */

.operationArea {
  padding: 26px 20px 20px 20px;
  font-size: 24px;
  color: #5d6884;
  text-align: left;
}
.operationArea >div {
  line-height: 55px;
  margin-bottom: 20px;
}
.inputLab {
  padding-right: 20px;
  margin-right: 30px;
}
.inputLab input {
  border: 1px solid #bdc7de;
  width: 100%;
  font-size: 24px;
  font-family: "微软雅黑";
  color: #5d6884;
  padding-left: 20px;
  height: 53px;
}
.inputLab textarea {
  resize: none;
  border: 1px solid #bdc7de;
  width: 100%;
  font-size: 24px;
  font-family: "微软雅黑";
  color: #5d6884;
  padding: 20px 10px 20px 10px;
  height: 240px;
}
.inputLab input::-webkit-input-placeholder, .inputLab textarea::-webkit-input-placeholder, .inputDrop input::-webkit-input-placeholder {
  color: #5d6884;
}

.single{
	margin:20px 20px 0 20px;
}
.single0{
	margin:0 20px 0 20px;
}
.singleBg{
	 background: url(../images/choosebg.png) repeat;
	 padding-bottom:20px;
}
.margin-20{
	margin-top:-20px;
	
}
.padding10{
	padding-top:20px;
}
.box_4 {
  background:rgba(155,196,56,0.8);
  height: 80px;
  
  -webkit-transform: perspective(600px) rotateY(90deg) rotatex(90deg);
  -webkit-transform-origin: 0% 40%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all ease 500ms;
}
.box_7{
	background:rgba(123,121,20, 0.8);
	height: 180px;
	width:0;
}
.box_5 {
  background: rgba(171,147,189, 0.8);
  height: 0;
  margin-top: 20px;
}
.box_3{
	background:rgba(116,181,171, 0.8);
	height: 180px;
	width:0;
}
.trn_box{-webkit-transform : perspective(600px) rotateY(0deg) rotatex(0deg)}
.cont_tab {
  height: 78px;
  border-bottom: 1px solid #e4e7ec;
  background-color: #f0f3f7;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 1px #fff inset;
  font-size: 35px;
  color: #777e8e;
  line-height: 78px;
}
.table_div{
	width:100%;
	font-size: 20px;
	display: inline-table;
	color: #7f889e;
  box-sizing: border-box;
  overflow: hidden;
}
.table_col{
	display: table-row;
	overflow:hidden;
}
.table_col .td:first-child{
	max-width: 200px;
	
	white-space:nowrap;
	text-overflow:ellipsis;
}
.td{
	display: table-cell;
	overflow: hidden;
	min-width: 60px;
}
.table_col >div{
  text-align: center;
  border-right: 2px solid #ebf0f5;
  border-top: 1px solid #ebf0f5;
  border-bottom: 1px solid #ebf0f5;
  box-sizing: border-box;
  overflow:hidden;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  vertical-align:middle;
  padding:10px 10px;
}

/*
.table_div {
  width: 100%;
  -webkit-transition: margin 800ms ease;
  font-size: 20px;
  color: #7f889e;
  box-sizing: border-box;
  overflow: hidden;
}
.table_div >div:first-child {
  width: 100%;
  border-top: 1px solid #ebf0f5;
  border-bottom: 1px solid #ebf0f5;
}
.table_col >div {
  width: 12%;
  text-align: center;
  border-right: 2px solid #ebf0f5;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  height: 100px;
}
.table_col >div:first-child {
  width: 30%;
}
.table_col >div:last-child {
  width: 8%;
  border-right: none;
}
.table_col >div:nth-child(2){
	width: 8%
}
 .table_col >div:nth-child(3),.table_col >div:nth-child(4),.table_col >div:nth-child(5),.table_col >div:nth-child(6),.table_col >div:nth-child(7),.table_col >div:nth-child(8),.table_col >div:nth-child(9),.table_col >div:nth-child(10),.table_col >div:nth-child(11){
  width: 6%
}
*/
.table_col_cjq >div {
  width: 12%;
  text-align: center;
  border-right: 2px solid #ebf0f5;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  height: 100px;
}
.table_col_cjq >div:first-child {
  width: 32%;
}
.table_col_cjq >div:last-child {
  width: 15%;
  border-right: none;
}
.table_col_cjq >div:nth-child(2){
  width: 13%
}
.table_col_cjq >div:nth-child(3),.table_col_cjq >div:nth-child(4),.table_col_cjq >div:nth-child(5),.table_col_cjq >div:nth-child(6),.table_col_cjq >div:nth-child(7){
  width: 8%
}
.table_col_detail >div {
  width: 12%;
  text-align: center;
  border-right: 2px solid #ebf0f5;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  height: 100px;
}
.table_col_detail >div:first-child {
  width: 20%;
  overflow: hidden;
}
.table_col_detail >div:last-child {
  width: 20%;
  border-right: none;
}
.table_col_detail >div:nth-child(2){
	width:20%;
}
 .table_col_detail >div:nth-child(3),.table_col_detail >div:nth-child(4),.table_col_detail >div:nth-child(5),.table_col_detail >div:nth-child(6){
  width: 10%;
}
.table_col_cjq_detail >div {
  width: 12%;
  text-align: center;
  border-right: 2px solid #ebf0f5;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  height: 100px;
}
.table_col_cjq_detail >div:first-child {
  width: 20%;
}
.table_col_cjq_detail >div:last-child {
  width: 20%;
  border-right: none;
}
.table_col_cjq_detail >div:nth-child(2){
	width:15%;
}
.table_col_cjq_detail >div:nth-child(3),.table_col_cjq_detail >div:nth-child(5),.table_col_cjq_detail >div:nth-child(7),.table_col_cjq_detail >div:nth-child(4),.table_col_cjq_detail >div:nth-child(6){
  width: 8%;
}
.table_col_cjq_detail >div:nth-child(8){
	width:5%;
}
.table_cont {
  border-top: 1px solid #ebf0f5;
  height: 73px;
}
.table_cont >div {
  height: 73px;
}
.table_cont:nth-child(odd) {
  background-color: #f4f7f9;
}
.table_cont:nth-child(even) {
  background-color: #f8fafc;
}
.table_cont:last-child {
  border-bottom: 1px solid #ebf0f5;
}
.contentArea_child {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  background: #fff;
}
.toDetail{
	color:#0000ff;
	text-decoration: underline;
}
.type_device{
	font-size: 20px;
	padding-left: 20px;
}
.page{
	background: #f2f2f2;
	height:50px;
}
.page_color{
	background: #4f6973;
	
}
.page_style{
	line-height: 30px;
	text-align: center;
	height: 30px;
	font-size:15px;
	color:white;
	border-radius:6px;
	width:100%px;
	margin-right:5%;
	margin-left:5%;
	margin:10px 10px 0 20px;
	
}
.page_code{
	color:#495560;
	width: 30px;
	margin: 10px 10px 0 10px;
}
.page_total{
	color:#495560;
	width: 80px;
	margin: 10px 10px 0 10px;
}
.page_num_style{
	color:#495560;
	width: 20px;
	margin: 10px 0 0 0;
}
.page_last{
	color:#495560;
	width: 250px;
	margin: 10px 10px 0 10px;
}
.input {
	background: url(../images/dev-out-input-bg_03.png) right center no-repeat #FFF;
	padding-left: 8px;
	width: 28%;
}
.selects input::-webkit-input-placeholder{
	color: #5d6884;
}
.selects input {
	border: 1px solid #ffffff;
	width: 100%;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #5d6884;
	padding-left:8px;
	box-shadow: inset 1px 1px 5px rgba(114,130,152,0.5);
	height: 48px;
	margin:15px 15px 0 10px;
	border-radius: 10px;
}
.toLeft{
	margin-left: 20px;
}
.selects{
	width: 20%;
	height:78px;
	line-height: 78px;
	text-align: center; 
}
.searchLeft{
	width:80%;
}
.page_search{
	background: #597285;
	margin:15px 15px 0 40px;
	line-height: 48px;
	text-align: center;
	width:70px;
	height: 48px;
	font-size:15px;
	color:white;
	border-radius:8px;
}
/*施工单位层级列表*/
.posilist{margin:10px 20px;}
.posilist ul{ padding-bottom:1px;}
.posilist>ul li{ height:80px; line-height:80px;font-size:25px; color:#76819a; border-bottom:1px solid #d6dadf; margin-bottom:1px;-webkit-box-shadow:0px 1px 0px rgba(255,255,255,1)}
.posilist>ul>li{ background: url(../../FileSearch2/images/middle_yd.png) 0px center no-repeat; padding-left:35px;}
.posilist>ul>ul>li{ background: url(../../FileSearch2/images/middle_yd.png) 20px center no-repeat; padding-left:65px;}
.posilist>ul>ul>ul>li{ background: url(../../FileSearch2/images/middle_yd.png) 40px center no-repeat; padding-left:90px;}
.posilist>ul>ul>ul>ul>li{ background: url(../../FileSearch2/images/middle_yd.png) 60px center no-repeat; padding-left:115px;}
.posilist>ul .lastetc{background: url(../../FileSearch2/images/last_yd.png) 0px center no-repeat;padding-left:30px;}
.posilist>ul>ul .lastetc{background: url(../../FileSearch2/images/last_yd.png) 20px center no-repeat;padding-left:60px;}
.posilist>ul>ul>ul .lastetc{background: url(../../FileSearch2/images/last_yd.png) 40px center no-repeat;padding-left:75px;}
.posilist>ul>ul>ul>ul .lastetc{background: url(../../FileSearch2/images/last_yd.png) 70px center no-repeat;padding-left:100px;}
.posilist>ul>ul,.posilist>ul>ul>ul,.posilist>ul>ul>ul>ul{ display:none;}
.posilist>ul>li.shell+ul,.posilist>ul>ul>li.shell+ul,.posilist>ul>ul>ul>li.shell+ul{ display:block;}

.posilist>ul>li.shell{ background: url(../../FileSearch2/images/first_yd.png) 0px center no-repeat;}
.posilist>ul>ul>li.shell{ background: url(../../FileSearch2/images/first_yd.png) 20px center no-repeat;}
.posilist>ul>ul>ul>li.shell{ background: url(../../FileSearch2/images/first_yd.png) 40px center no-repeat;}
.posilist>ul>ul>ul>ul>li.shell{ background: url(../../FileSearch2/images/first_yd.png) 60px center no-repeat;}
.posilist>ul>li.trgleclass,.posilist>ul>ul>li.trgleclass,.posilist>ul>ul>ul>li.trgleclass,.posilist>ul>ul>ul>ul>li.trgleclass{ background-color:#dfe1e5; color:#8790a5;}

.top-scroll{
	position:relative;
	margin-top: -3px;
}
.top10{
	margin-top:10px;
}
.bottom10{
	padding-bottom:10px;
	
}
.input {
    width: 90%;
    height: 45px;
    border: 1px solid #007c79;
    
    margin-left:5%;
    position: relative;
    
}




